<header>
    <h2>Order Now</h2>
</header>
<form class="form">
    <label for="name">Name</label>
    <input [(ngModel)]="name" [ngModelOptions]="{ standalone: true }" type="text" placeholder="Name" required>
    <label for="size">Size:</label>



    <select id="size" [(ngModel)]="size" name="sizeOptions">
        <option *ngFor="let size of sizeOptions" [value]="size.name">{{size.name}}</option>
    </select>


    <label for="quantity">Quantity:</label>
    <input [(ngModel)]="quantity" [ngModelOptions]="{ standalone: true }" type="number" placeholder="Quantity"
        id="quantity" required>


    <label for="add-ons">Add-ons:</label>
    <select id="add-ons" [(ngModel)]="addOns" name="add-ons">
        <option value="" *ngFor="let addOns of addOnsOptions" [value]="addOns.name">{{addOns.name}}</option>
    </select>
    <button class="button" type="button" (click)="onSubmit()">Add to Cart</button>
</form>