<nav class="nav">
    <ul class="nav__menu row j-space-between a-center">
        <li (click)="goToRoute('home')">
            <img class="logo" src="../../assets/ice_cream_logo.png" alt="" />
        </li>
        <li class="hamburger__menu" (click)="toggleMenu()"><img
                src="../../assets/hamburger_menu.png" alt="" />
        </li>
    </ul>
    <h1 class="title">Scoops of happiness in every cone</h1>
</nav>

<ul class="secondary-navigation" [ngClass]="{'menu-open': isOpen}  ">
    <li><img (click)="toggleMenu()" src="../../assets/exit_icon.png" alt=""></li>
    <li><a routerLink="/order-list">Order List</a></li>
</ul>