<header>
    <h2>Add to Cart</h2>
</header>
<form>
    <label for="size">Size:</label>
    <select id="size">
        <option value="">Small</option>
        <option value="">Medium</option>
        <option value="">Large</option>
    </select>


    <label for="size">Quantity:</label>
    <input type="number" placeholder="Quantity">


    <label for="">add-ons</label>
    <select id="add-ons">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
</form>