.home {
  display: grid;
  gap: 1rem;
  background-color: black;
}
.ice-cream-container {
  text-align: center;
}
.body-cont {
  outline: 3px solid var(--blue-600);
  margin: 10px 0px;
  padding: 10px;
  border-radius: 50px;
  color: white;
}

.ice-cream-container .body-cont > img {
  aspect-ratio: 1 /1;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}
.buttons {
  display: grid;
  place-content: center;
  gap: 1rem;
}
.buttons > button {
  width: 200px;
  border-radius: 50vw;
  padding: 0.5rem 1rem;
  background-color: var(--blue-600);
  border: transparent;
}
