<section class="home">
    <article *ngFor=" let icecream of menu" class="ice-cream-container">
        <div class="body-cont">
            <h2 class="title">{{icecream.type}}</h2>
            <img src="{{icecream.imagePath}}" alt="">
            <div class="buttons">
                <button class="add-to-cart" (click)="handleButtonClick($event)" type="button">ADD TO CART</button>
                <button class="buy-now" (click)="handleButtonClick($event)" type="button">BUY NOW</button>
            </div>
        </div>
    </article>
</section>